.swiper-pagination {
  padding-top: 10rem;
}

.swiper-pagination-bullet {
  background-color: #3d5af1;
}

.swiper-controller {
  margin-top: 96px;
}

.swiper-slide h2 {
  color: #eae9ee;
}

.swiper-slide-active h2 {
  color: #1f1a50;
  transition: 300ms;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}